{% extends "googleds/header.html" %}
{% block content %}


<div class="mainblock" id="results">
<h2>Search Results</h2>
{% if length == 1 %}
<h4> {{ length }} Volume </h2>
{% else %}
<h4> {{ length }} Volumes </h2>
{% endif %}

{% if length != 0 %}
<div id="download">
<h3>Download Options</h3>
{% if length > 110 %}
<form id="sample1" action={% url "download" %} method="get">
<p>Create corpus of
<input type="text" name="count" value="100" size="6">
volumes randomly drawn from these results and download text.</p>
<input type="submit" value="Download Corpus" class="btn2">
</form>
<hr>
{% endif %}
{% if length > 1 %}
<p>Create list of unique identifiers for all {{ length }} volumes and download.<p>
<form action={% url "getlist" %} method="get">
<input type="submit" value="Download ID List" class="btn2">
</form>
<hr>
{% endif %}
<p>Download the full-text result set. {% if length > 100 %}(<span class="warning">Warning: file may be large.</span> <a>Check file size.</a>)</p>
{% endif %}
<form action={% url "download" %} method="get">
<input type="submit" value="Download All Results" class="btn2">
</form>
<hr>
</div>
{% endif %}

{% if details %}
{% if length > 75 %}
<p>{{ sample_results }} Sample Results:</p>
{% endif %}

<ol>
{% for i in details %}
<li class="results">
	<ul class = "details">
	<li><a title="Click on title to view item at the Hathi Trust." href="http://babel.hathitrust.org/cgi/pt?id={{ i.0 }}" target=_blank><span class="title">{{ i.1 }}</span></a> ({{ i.3 }})</li>
	{% if i.2 != "" %}
	<li><a title="Click on author name to see all works by author." href={% url "author" i.2 %}><span class="author"> {{ i.2 }}</span></a></li>
	{% endif %}
	<li><span class="id"> {{ i.0 }}</span></li>
	</ul>
</li>	
{% endfor %}
</ol> 
{% endif %}
</div>


{% endblock %}
 
