<!doctype HTML>
{% load staticfiles %}
<head>
<link href="/static/gds.css" rel="stylesheet" type="text/css">
<!-- <center><a href="http://www.lib.msu.edu">
<img src="http://img.lib.msu.edu/general/header2.gif" width="450" height="50" border="0"></a></center> -->
<h1><a href="/gds/">Google Dataset: Subset Generator</a></h1>
<div id="menu">
<ul>
<div class="menu_item"><li><a href={% url "index" %} >Home</a></li></div>
<div class="menu_item"><li><a href="http://archive.lib.msu.edu/GDS/gdsindex.html" target=_blank title="More information about the GDS">About GDS</a></li></div>
<div class="menu_item"><li><a href="http://archive.lib.msu.edu/GDS" title="Browse the full GDS online" target=_blank>Directory</a></li></div>
</ul>
</div>

{% block content %}
{% endblock %}