{% extends "googleds/header.html" %}
{% block content %}
<div id="options">
	<form action={% url "corpus" %} method="get">
	<div class="mainblock" id="first_block">	
		<div id="record_types">
   			<h3>Content Type</h3>
   				<input checked type="checkbox" name="type" value="all">All<br>
   				{% for k in type_of_record %}
				<input type="checkbox" name="type" value={{ k.0 }}>{{ k.1 }}<br>
				{% endfor %}
   		
 
		</div>

		<div id="date_range">
			<h3>Date</h3>
			<p class="instruction">Returns all results unless range selected:</p>
			<p>From <input type="text" name="year1" size="10"> to <input type="text" name="year2" size="10">
		</div>
		<div id="bib_level">
			<h3>Bibliographic Level</h3>
		<input checked type="checkbox" name="level" value="all">All<br>
		{% for k in bib_level %}
		<input type="checkbox" name="level" value={{ k.0 }}>{{ k.1 }}<br>
		{% endfor %}
		</div>
		<div id="author">
			<h3>Author</h3>
			<p class="instruction">Last Name, First Name (must match library record exactly)</p>
			<input type="text" name="author" size="40" style="font-size:20px;height:20px">
			
		</div>
		
	</div>

	<div class="mainblock" id="second_block">
		<h3>Literary Form</h3>
		<input checked type="checkbox" name="form" value="None">None Specified<br>
		{% for k in literary_forms %}
		<input type="checkbox" name="form" value={{ k.0 }}>{{ k.1 }}<br>
		{% endfor %}
		<h3>Nature of Contents</h3>
		<input checked type="checkbox" name="contents" value="None">None Specified<br>
		{% for k in nature_of_contents %}
		<input type="checkbox" name="contents" value={{ k.0 }}>{{ k.1 }}<br>
		{% endfor %}
	</div>   
   
	<div class="mainblock" id="languages">
		<h3>Language</h3>
		<p class = "subheading">Most Common Languages</p>
        <input type="checkbox" name="language" value="eng" checked>English<br>
        <input type="checkbox" name="language" value="fre">French<br>
        <input type="checkbox" name="language" value="ger">German<br>
        <input type="checkbox" name="language" value="ita">Italian<br>
        <input type="checkbox" name="language" value="jpn">Japanese<br>
        <input type="checkbox" name="language" value="dut">Dutch<br>
        <input type="checkbox" name="language" value="chi">Chinese<br>
		<p class = "subheading">Remaining Languages Alphabetically</p>
		{% for k in language_dict %}
		<input type="checkbox" name="language" value={{ k.0 }}>{{ k.1 }}<br>
		{% endfor %}
	</div>
	<div id="submit">
	<input type = "checkbox" name="show_results" value="show">Show <input type="text" name="count" value="20" size="6"> sample results.
	<input type = "submit" value="Submit" class="btn">
	</div>
	</form>
</div>

{% endblock %}
